/* link with google font  */
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:wght@300&display=swap");

/* the style fort this font  */
/* font-family: 'League Gothic', sans-serif; 
font-family: 'Poppins', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.main-header {
  background-color: #2d25a0;
}
.btn-style {
  margin: 7px 5px;
  padding: 3px 5px;
  font-size: 22px;
  font-weight: 500;
  background-color: #e02c6d;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

/*------------ ----------- nab bar start ------ ---------------*/
.nav-bar {
  width: 70%;
  margin: 0 auto 40px auto;
  display: flex;
  justify-content: space-between;
}
.nav-link-container ul {
  display: flex;
}
.nav-link-container li {
  list-style: none;
  margin: 10px 10px;
}
.nav-link-container li > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.nav-btn-container button {
}

/*-------------------- nav bar end ---------------------- */

/*-------------------- banner start ------------------- */
.banner {
  display: flex;
  width: 70%;
  margin: 40px auto 0px auto;
}
.banner-details,
.banner-img {
  margin: 10px 10px;
}

.banner-details h2 {
  color: #ffffff;
  font-size: 45px;
  font-weight: 900;
  margin: 20px auto;
}
.banner-img img {
  width: 100%;
  height: 500px;
}

.banner-details button:hover {
  background-color: #ffffff;
  color: #e02c6d;
}

/*--------------------------- banner end ------------------ */

/* -----------------------main section article start ----------------- */
.articles-container {
  width: 70%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.article {
  min-height: 450px;
  box-shadow: 2px 2px 5px gray;
  padding: 5px;
}
.article-img img {
  width: 100%;
}

/* -------------------main section artcle end --------------------- */
